<div class="flex flex-col items-center justify-center bg-white border-border h-full my-4 min-h-[335px] max-h-[720px] overflow-auto rounded-md border px-4 py-8">
  <div class="max-w-md text-center space-y-4">
    <no-data-image [widthClass]="'w-[220px]'" [heightClass]="'h-[205px]'" />
    <h3 class="text-2xl font-bold text-slate-600 pt-8">No encontramos datos</h3>
    <p class="text-muted-foreground">
      Parece que no hay datos para mostrar. Intenta agregar algunos datos para comenzar.
    </p>
  </div>
</div>
