<svg
  xmlns="http://www.w3.org/2000/svg"
  width="564"
  height="372"
  viewBox="0 0 564 372"
  fill="none"
>
  <path
    d="M777.093 1133.93L755.956 0L-8.43851e-06 14.0915L21.1372 1148.03L777.093 1133.93Z"
    fill="url(#paint0_radial_7_509)"
  />
  <defs>
    <radialGradient
      id="paint0_radial_7_509"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      gradientTransform="translate(529.717 374.548) rotate(125.289) scale(357.598 357.598)"
    >
      <stop offset="0.00574919" stop-color="#60A5FA" stop-opacity="0.2" />
      <stop offset="0.4" stop-color="#60A5FA" stop-opacity="0.15" />
      <stop offset="0.685" stop-color="#60A5FA" stop-opacity="0.08" />
      <stop offset="1" stop-color="#60A5FA" stop-opacity="0" />
    </radialGradient>
  </defs>
</svg>
